<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Registration completed</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <h1>Registration completed</h1>

  <hr></hr>
  
  {%if sendActivationEmail%}
    {% set url = url('bag_login_web_account_activation', {token: user.confirmationToken}) %}
    <p>Your account has been created, in order to activate it, please check the link sent by email.</p>
  {%else%}
    <p>Your account has been created and it is now active.</p>
  {%endif%}
</body>
</html>
